.js,.nupkg,.ps1,.xml,.dll,.XML,.config,.exe,.targets,.props,.rtf,.xdt,.pp,.transform,.txt,.psm1,.psd1,.pdb,.map,.woff,.ttf,.svg,.eot,.css
HackZurich/HackZurich/packages/*.*
HackZurich/HackZurich/HackZurich/obj/Debug/*.*
